psycopg2-binary
django-import-export
djangorestframework
django-cors-headers
Django==6.0.2
python-dotenv
whitenoise
waitress
Pillow
gunicorn==21.2.0
google-api-python-client
google-auth-httplib2
google-auth-oauthlib